<h3>Information</h3>
<ul>
    <li>We do not have any file content, we do not have any torrent files. There is no blacklist.
    <strong>If you would like to stop some data from being tracked, send a notice to the service hosting the .torrent file and contact the peers.</strong></li>
    <li>Do not send copyright infringement notices. We do not have anything copyrightable.</li>
    <li>We do not keep any connection logs.</li>
    <li><a href="http://opentracker.blog.h3q.com/2007/02/12/perfect-deniability/">Random IP addresses are inserted into the peer list.</a></li>
    <li>We support both IPv4 and IPv6. Your client has to specify the Internet protocol version.</li>
</ul>
<p>Powered by <a href="https://github.com/chihaya/chihaya">Chihaya</a> and <a href="https://www.docker.com/">Docker</a> since Jan 23, 2022</p>
<h3>Donate</h3>
<ul>
<li>ETH:<code title="ETH is preferred">0xeeed000F88223b3c2cBed1416351af968Cd48B43</code></li>
<li>BNB:<code title="BNB is nice too">0xeeed000F88223b3c2cBed1416351af968Cd48B43</code></li>
</ul>
<p><strong>Strictly optional</strong> for people who want to throw us some spare change. The service will continue with or without donations.</p>
<footer>
<hr>
<p>Copyright and related rights waived via <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>.</p>
</footer>