<h3>Miscellaneous Info</h3>
<h4>Can we remove an info_hash from the tracker?</h4>

<p>No, the technology doesn't include any support for blocking info_hash keys from being registered with the tracker. We only know how many info_hashes there are, not what the information behind the hash is.</p>

<p>Just to make it clear so people sending copyright takedown notices understand:</p>
<ul>
<li>We do not have any content.</li>
<li>We are not a bittorrent site, we are just a tracker, we can not see what content is behind an info_hash.</li>
<li>We don't have any torrent files.</li>
<li>We can't give you any IP addresses in any other way than normal tracker usage.</li>
<li>We can't verify any claims when we have no data other than the info_hash.</li>
<li>We can't block info_hash keys from being registered with the tracker.</li>
<li>We don't have any logs or ways to trace previous connections, It's not technically possible to trace connection history due to the sheer volume of connections. The only information that is possible to keep is the current torrent swarm.</li>
</ul>
<p>So what should you as a content owner do? Contact the indexing site where the torrent download originated from and ask them nicely to remove the listing and the .torrent file!</p>
<p>Shamelessly copied this text from <a href="https://harry.lu/tracker/" title="I really need to stop doing this" rel="noopener nofollow noreferrer">another site</a>.</p>