<h3>Tracker Statistics</h3>
<p>Currently Tracking:</p>
<ul>
<li><strong>{{data.hashes}}</strong> info_hashes</li>
<li><strong>{{data.seed}}</strong> Seeders</li>
<li><strong>{{data.leech}}</strong> Leechers</li>
<li>For a total of <strong>{{data.peer}}</strong> Peers</li>
</ul>